# ############################## #
#       Generic Aliases
# ############################## #

alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

# ############################## #
#       MacOS Aliases
# ############################## #

if [[ "$OSTYPE" == "darwin"* ]]; then
    # Ruby
    alias rclean="rdd && rdc && rdm && rds"

    # General
    alias svim="source ~/.vimrc"
    alias szsh="source ~/.zshrc"
    alias salias="source ~/.aliases"
    alias evim="$EDITOR ~/.vimrc"
    alias ezsh="$EDITOR ~/.zshrc"
    alias ealias="$EDITOR ~/.aliases"
    alias etodo="$EDITOR ~/notes/todo.md"
    alias todo="etodo"
    alias etmp="$EDITOR ~/notes/scratch.md"
    alias vim="mvim -v"
    alias v="vim"
    # alias y="youtube-dl"
    alias please='sudo $(fc -ln -1)'
    alias getip="curl -s http://wtfismyip.com/text"
    alias myip="getip"
    alias p3="python3"
    alias p2="python2.7"
    alias mux="tmuxinator"
    alias gpr="git pr"

    alias gpgkill="gpgconf --kill gpg-agent"

    # Directory Navigation
    alias dl="cd ~/Downloads"
    alias dk="cd ~/Desktop"
    alias doc="cd ~/Documents"
    alias config="cd ~/src/configs"

    # Stuff
    alias dud='du -d 1 -h'
    alias duf='du -sh *'

    # Brew
    alias brewn="HOMEBREW_NO_AUTO_UPDATE=1 brew"

    # dir stack
    alias dh='dirs -v'

    # Other navigation stuff
    alias ..='cd ..'
    alias ...='cd ../..'

    # Work stuff
    alias dwssh="ssh -i ~/.ssh/id_rsa cab@ec2-54-226-247-245.compute-1.amazonaws.com"
    alias dwdb='psql -h cruncher-test.csi15pteagfe.us-east-1.redshift.amazonaws.com -U crunchermaster -d cruncher_production -p 5439'
    alias gloprod="cx ssh -s 'glossier-solidus-production' -e production process"
    alias dwprod="cx ssh -s 'data-pipeline-production' -e production dockerhost"
    alias dwprodheavy="cx ssh -s 'data-pipeline-production-heavy' -e production master"
    alias dwstage="cx ssh -s 'data-pipeline-staging' -e staging master"
    alias dbtprod="cx ssh -s 'data-pipeline-dbt-production' -e production dockerhost"
    alias dbtstage="cx ssh -s data-pipeline-dbt-staging 54.210.240.93"

    alias notify='terminal-notifier -title "Terminal" -message "Done with task!" ; say donzo;'
    alias pytest='python3 -m unittest'

    alias motherbrain="ssh pi@192.168.0.183 -p 666"
    alias bfg="java -jar ~/.bin/bfg.jar"

    # Docker Compose
    alias dc='docker-compose'
    alias dcb='docker-compose build'
    alias dcs='docker-compose stop'
    alias dcup='docker-compose up'
    alias dcupd='docker-compose up -d'
    alias dcd='docker-compose down'
    alias dcl='docker-compose logs -f'

    # Git Aliases
    alias wip='work_in_progress'
    alias g='git'

    alias ga='git add'
    alias gaa='git add --all'
    alias gap='git add --patch'

    alias gb='git branch'
    alias gba='git branch -a'

    alias gbs='git bisect'
    alias gbsb='git bisect bad'
    alias gbsg='git bisect good'
    alias gbsr='git bisect reset'
    alias gbss='git bisect start'

    alias gc='git commit -v'
    alias gc!='git commit -v --no-edit --amend'
    alias gca='git commit -v -a'
    alias gca!='git commit -v -a --no-edit --amend'

    alias gcb='git checkout -b'
    alias gcm='git checkout master'
    alias gcd='git checkout develop'
    alias gco='git checkout'

    alias gclean='git clean -fd'
    alias gpristine='git reset --hard && git clean -dfx'

    alias gcp='git cherry-pick'
    alias gcpa='git cherry-pick --abort'
    alias gcpc='git cherry-pick --continue'

    alias gd='git diff'
    alias gdc='git diff --cached'

    alias ggpull='git pull origin "$(git_current_branch)"'
    alias ggpush='git push origin "$(git_current_branch)"'
    alias ggpushf='ggpush --force-with-lease'
    alias ggpp='ggpull && ggpush'

    alias glom="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
    alias gloma="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all"
    alias glos='git log --oneline --decorate --graph'
    alias glosa='git log --oneline --decorate --graph --all'

    alias gr='git remote'
    alias gra='git remote add'
    alias grs='git remote -v'

    alias grb='git rebase'
    alias grba='git rebase --abort'
    alias grbc='git rebase --continue'
    alias grbi='git rebase -i'

    alias grh='git reset --hard'
    alias grs='git reset --soft'

    alias gs='git status -sb'

    alias gwip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no-verify -m "--wip-- [skip ci]"'
    alias gunwip='git log -n 1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'
fi
