# ############################## #
#       Generic Aliases
# ############################## #

alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

# ############################## #
#       MacOS Aliases
# ############################## #

if [[ "$OSTYPE" == "darwin"* ]]; then
    # Ruby
    alias rclean="rdd && rdc && rdm && rds"

    # General
    alias svim="source ~/.vimrc"
    alias szsh="source ~/.zshrc"
    alias salias="source ~/.aliases"
    alias evim="$EDITOR ~/.vimrc"
    alias ezsh="$EDITOR ~/.zshrc"
    alias ealias="$EDITOR ~/.aliases"
    alias etodo="$EDITOR ~/notes/todo.md"
    alias todo="etodo"
    alias etmp="$EDITOR ~/notes/scratch.md"
    alias vim="mvim -v"
    alias v="vim"
    # alias y="youtube-dl"
    alias please='sudo $(fc -ln -1)'
    alias getip="curl -s http://wtfismyip.com/text"
    alias myip="getip"
    alias p3="python3"
    alias p2="python2.7"
    alias mux="tmuxinator"
    alias gpr="git pr"

    alias gpgkill="gpgconf --kill gpg-agent"

    # Directory Navigation
    alias dl="cd ~/Downloads"
    alias dk="cd ~/Desktop"
    alias doc="cd ~/Documents"
    alias config="cd ~/src/configs"

    # Stuff
    alias dud='du -d 1 -h'
    alias duf='du -sh *'

    # Brew
    alias brewn="HOMEBREW_NO_AUTO_UPDATE=1 brew"

    # dir stack
    alias dh='dirs -v'

    # Other navigation stuff
    alias ..='cd ..'
    alias ...='cd ../..'

    # Work stuff
    alias dwssh="ssh -i ~/.ssh/id_rsa cab@ec2-54-226-247-245.compute-1.amazonaws.com"
    alias dwdb='psql -h cruncher-test.csi15pteagfe.us-east-1.redshift.amazonaws.com -U crunchermaster -d cruncher_production -p 5439'
    alias gloprod="cx ssh -s 'glossier-solidus-production' -e production process"
    alias dwprod="cx ssh -s 'data-pipeline-production' -e production dockerhost"
    alias dwprodheavy="cx ssh -s 'data-pipeline-production-heavy' -e production master"
    alias dwstage="cx ssh -s 'data-pipeline-staging' -e staging master"
    alias dbtprod="cx ssh -s 'data-pipeline-dbt-production' -e production dockerhost"

    alias notify='terminal-notifier -title "Terminal" -message "Done with task!" ; say donzo;'
    alias pytest='python3 -m unittest'

    alias motherbrain="ssh pi@192.168.0.183 -p 666"
    alias bfg="java -jar ~/.bin/bfg.jar"
fi
