# ############################## #
#       Generic Aliases
# ############################## #

alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

# ############################## #
#       MacOS Aliases
# ############################## #

if [[ "$OSTYPE" == "darwin"* ]]; then
    # Ruby
    alias rclean="rdd && rdc && rdm && rds"
    # General
    alias srcv="source ~/.vimrc"
    alias vim="mvim -v"
    alias v="vim"
    alias vf="vim $HOME/.vimrc"
    alias y="youtube-dl"
    alias please='sudo $(fc -ln -1)'
    # Directory Navigation
    alias dl="cd $HOME/Downloads"
    alias dk="cd $HOME/Desktop"
    alias doc="cd $HOME/Documents/My\ Documents"
    alias mux="tmuxinator"

    # Work stuff
    alias cdw="ssh -i ~/.ssh/id_rsa data@ec2-54-174-202-186.compute-1.amazonaws.com"
fi

